.Upload-Component {
	text-align: center;
}

.Upload {
	text-align: center;
	padding: 50px 0;
}

.Upload h2 {
	font-weight: 300;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 22pt;
}

.Upload .Upload-Container {
	border: 1px dashed grey;
	border-radius: 10px;
	width: 70%;
	margin: 0 auto;
	padding: 15px 0;
}

.Upload .Upload-Icon .svgIcon {
	font-size: 36pt;
	color: #2f80ec;
	margin-bottom: 30px;
}

.Upload .Upload-Browse {
	margin-top: 30px;
}

.Upload .Upload-Browse a {
	padding: 10px 100px;
	background-color: #2f80ec;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	transition: all 400ms;
}

.Upload .Upload-Browse a:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Upload-List {
	background-color: rgba(190, 190, 190, 0.2);
	border-radius: 10px;
	padding: 30px 15px;
	text-align: center;
	max-height: 500px;
	overflow: hidden;
}

.Upload-List .Upload-List-Container h2 {
	color: rgba(0, 0, 0, 0.4);
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	text-align: center;
}

.Upload-List .Upload-List-Container .NoFilesIcon {
	color: rgba(0, 0, 0, 0.4);
	font-size: 16pt;
}

.Upload-Component .Upload-Submit-Container button {
	margin-top: 20px;
	color: #fff;
	text-decoration: none;
	width: 100%;
	height: 60px;
	background: #2f80ec;
	border-radius: 10px;
	border: none;
	transition: all 400ms;
	font-size: 16pt;
	font-weight: 400;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Upload-Component .Upload-Submit-Container button:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.Upload-Component .Upload-Submit-Container button:active {
	border: none;
	box-shadow: none;
}

.Upload-Component .Upload-Submit-Container button .fabProgress {
	color: white;
	z-index: 1;
	transition: all 400ms;
}

.Upload-Component .Upload-Submit-Container button .successCheck {
	color: white;
	z-index: 1;
	transition: all 400ms;
}

.Upload-Component .Upload-Submit-Container button .errorIcon {
	color: white;
	z-index: 1;
	transition: all 400ms;
}

@media only screen and (max-width: 600px) {
	.Upload {
		padding: 30px 0;
	}

	.Upload-List {
		max-height: 200px;
		overflow: scroll;
	}
}
